[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-hello-programmer-theme"]
	path = themes/hugo-hello-programmer-theme
	url = https://github.com/lubang/hugo-hello-programmer-theme.git
